<div class="main-image">
  <div class="wrapper col-sm-offset-4 text-center">

    <div class="row">
      <div class="col-sm-6 main-blurb">
        <h1>callback</h1>

        <p>Need help with your interview skills? Give us a call and we will ask you common interview questions
          so that you can practice your responses.</p>
      </div>
    </div>

    <div class="row">
      <% unless current_user %>
        <div class="col-sm-offset-1">
          <div class="col-sm-2">
            <h3><%= link_to 'Register', new_user_path(@user), html_options = {class: "btn btn-primary btn-lg"} %></h3>
          </div>
          <div class="col-sm-2">
            <h3><%= link_to 'Sign in', new_session_path(@user), html_options = {class: "btn btn-primary btn-lg"} %></h3>
          </div>
        </div>
      <% end %>
    </div>

    <%= flash[:notice] %>

  </div>
</div>